# Discord Bot Credentials
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=YOUR_APPLICATION_CLIENT_ID

# Database (MongoDB)
MONGODB_URI=mongodb://localhost:27017/flow

# Webhook Express Server Settings
WEBHOOK_PORT=3000

# Environment Mode
NODE_ENV=production
